<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Nou missatge de contacte</h1>
  <p>Has rebut un missatge enviat des del formulari de contactes.</p>
  
  <h2>Detalls del missatge:</h2>
  <p><strong>Nom:</strong> <%= @nom %></p>
  <p><strong>Email:</strong> <%= @email %></p>
  <p><strong>Telèfon:</strong> <%= @telefon %></p>
  
  <h2>Missatge:</h2>
  <p><%= @missatge %></p>
</body>
</html> 