<p>Depenent d’eventualitats i d’altres condicionants la ruta i les parades poden ser variades, segons les circumstàncies es cerca la variació de ruta i horaris amb el màxim consens dels participants.</p>
<p>En sortides d'asfalt, si no es diu al contrari, la ruta no inclou cap tram de terra.</p>
