<p>Oberta a totes les motos que puguin seguir un ritme normal 'touring'.</p>
<p>Per ordre fins assolir el màxim de motos establert.</p>
<p>Si us plau inscriure-vos al web el més aviat possible.</p>
<p>Se inclou un ampli reportatge multimèdia però cap tipus d'assegurança individual ni colectiva.</p>