<div class="flex items-center justify-center w-full min-h-screen bg-cover bg-center" style="background-image: url('<%= asset_path('Jordi2.PNG') %>');">
  <div class="w-full max-w-4xl bg-white bg-opacity-90 rounded-xs shadow-lg p-8 m-4 md:mx-auto md:flex md:flex-wrap">
    <div class="w-full text-gray-800 m-2">
      <img src="<%= asset_path('MRClogo2.jpeg') %>" alt="MilRevoltsCat" class="float-right m-2">
      <h1 class="text-3xl font-bold py-4"><i class="fas fa-cookie-bite"></i> Política de Cookies</h1>
      <h4 class="text-xl font-bold italic py-4">La política de cookies del lloc web MilRevolts.cat i Motos.cat</h4>
      <p class="text-justify py-2">La política de Cookies del <i>Grup Motorista 'Mil Revolts' i Sortides en moto "Motos.cat"</i> (d’ara endavant, la política de Cookies).</p>
      <h3 class="text-xl font-bold py-2">Què és una cookie?</h3>
      <p class="text-justify py-2">Una cookie és un fitxer que es descarrega a l’ordinador en accedir a determinades pàgines web. Les cookies permeten a una pàgina web, entre d’altres, emmagatzemar i recuperar informació sobre els hàbits de navegació d’un usuari o del seu equip i, en funció de la informació que continguin i de la manera que s’utilitzi l’equip, es poden fer servir per reconèixer l’usuari. El navegador de l’usuari memoritza cookies al disc dur només durant la sessió actual, hi ocupa un espai de memòria mínim i no perjudica l’ordinador. Les cookies no contenen cap mena d’informació personal específica, i la majoria d’aquestes s’esborren del disc dur en finalitzar la sessió de navegador (les anomenades cookies de sessió).</p>
      <p class="text-justify py-2">La majoria dels navegadors accepten com a estàndard les cookies i, amb independència d’aquestes, permeten o impedeixen en la configuració de seguretat les cookies temporals o memoritzades.</p>
      <p class="text-justify py-2">Sense el seu consentiment —mitjançant l’activació de les cookies al seu navegador—, Buzz no enllaçarà a les cookies les dades memoritzades amb les dades personals que ha proporcionat en el moment del registre o la compra.</p>
      <h3 class="text-xl font-bold py-2">Per què utilitzem cookies?</h3>
      <p class="text-justify py-2">Les cookies són una part important de com funciona el nostre lloc web. La funció principal de les nostres cookies és millorar l’experiència de l’usuari en la navegació. Per exemple, es poden fer servir per recordar l’idioma que s’utilitza durant la navegació i en futures visites.</p>
      <h3 class="text-xl font-bold py-2">Quins tipus de cookies hi ha?</h3>
      <ul class="list-disc list-inside py-2">
        <li>Cookies tècniques: Són aquelles que permeten a l’usuari la navegació a través d’una pàgina web, plataforma o aplicació i la utilització de les diferents opcions o serveis que hi ha, com ara controlar el trànsit i la comunicació de dades, identificar la sessió, entrar a parts d’accés restringit, recordar els elements que integren una comanda, dur a terme el procés de compra d’una comanda, realitzar la sol·licitud d’inscripció o participació d’un esdeveniment, utilitzar elements de seguretat durant la navegació, emmagatzemar continguts per a la difusió de vídeos o so o compartir continguts a través de xarxes socials.</li>
        <li>Cookies de sessió: Recullen i emmagatzemen dades durant la sessió de l’usuari, per exemple per prestar un servei. S’eliminen quan acaba la sessió.</li>
        <li>Cookies de personalització: Són aquelles que permeten a l’usuari accedir al servei amb algunes característiques de caràcter general predefinides en funció d’una sèrie de criteris en el terminal de l’usuari com ara l’idioma, el tipus de navegador mitjançant el qual accedeix al servei, la configuració regional des d’on entra al servei, etc.</li>
        <li>Cookies d’anàlisi: Són aquelles que, ben tractades per nosaltres o per tercers, ens permeten quantificar el nombre d’usuaris i així fer el mesurament i l’anàlisi estadística de la utilització que fan els usuaris del servei ofert. Per això se n’analitza la navegació a la nostra pàgina web per tal de millorar l’oferta de productes o serveis que oferim.</li>
        <li>Cookies publicitàries: Són aquelles que, ben tractades per nosaltres o per tercers, ens permeten gestionar de la manera més eficaç possible l’oferta dels espais publicitaris que hi ha a la pàgina web, adequant el contingut de l’anunci al contingut del servei sol·licitat o l’ús que faci de la nostra pàgina web. Per fer-ho podem analitzar els seus hàbits de navegació a Internet i podem mostrar publicitat relacionada amb el seu perfil de navegació.</li>
        <li>Cookies de publicitat comportamental: Són aquelles que permeten la gestió, de la manera més eficaç possible, dels espais publicitaris que, si escau, l’editor hagi inclòs en una pàgina web, aplicació o plataforma des de la qual presta el servei sol·licitat. Aquestes cookies emmagatzemen informació del comportament dels usuaris obtinguda a través de l’observació continuada dels seus hàbits de navegació, fet que permet desenvolupar un perfil específic per mostrar publicitat en funció d’aquest.</li>
      </ul>
      <h3 class="text-xl font-bold py-2">Què són les cookies pròpies i les de tercers?</h3>
      <ul class="list-disc list-inside py-2">
        <li>Cookies pròpies: Són aquelles que s’envien a l’usuari des d’un equip o domini gestionat per nosaltres.</li>
        <li>Cookies de tercers: Serien les generades per serveis o proveïdors externs com Facebook, Twitter, Google, etc.</li>
      </ul>
      <h3 class="text-xl font-bold py-2">Què passa si desactivo les cookies?</h3>
      <p class="text-justify py-2">En aquest apartat s’haurien d’esborrar alguns punts perquè en el lloc web no es fan vendes ni hi ha una àrea personal a la qual es pugui accedir.</p>
      <p class="text-justify py-2">Perquè entengui l’abast que pot tenir desactivar les cookies li mostrem uns quants exemples:</p>
      <ul class="list-disc list-inside py-2">
        <li>No podrà compartir continguts d’aquesta web a Facebook, Twitter o qualsevol altra xarxa social.</li>
        <li>El lloc web no podrà adaptar els continguts a les seves preferències personals.</li>
        <li>No serà possible personalitzar les seves preferències geogràfiques com ara franja horària, divisa o idioma.</li>
        <li>El lloc web no podrà fer analítiques web sobre visitants i trànsit a la web, fet que dificultarà que la web sigui competitiva.</li>
        <li>No podrà escriure al blog, no podrà pujar-hi fotos, publicar-hi comentaris, valorar o puntuar continguts. La web tampoc podrà saber si és un humà o una aplicació automatitzada que publica spam.</li>
        <li>Totes les xarxes socials fan servir cookies, si les desactiva no podrà utilitzar cap xarxa social.</li>
      </ul>
      <h3 class="text-xl font-bold py-2">Es poden desactivar o eliminar les cookies?</h3>
      <p class="text-justify">Pot rebutjar el tractament de les dades o informació recollides per les cookies en qualsevol moment, mitjançant la configuració de les opcions del seu navegador d’Internet. Pot permetre, bloquejar (de manera general o particular per a un domini específic) o eliminar les cookies instal·lades en el seu equip.</p>
      <p class="text-justify">Per a més informació sobre Firefox premi <a href="http://support.mozilla.org/es/kb/cookies-informacion-que-los-sitios-web-guardan-en-#w_configurar-las-cookies" target="_blank" class="text-teal-700 underline">aquí</a>.</p>
      <p class="text-justify">Per a més informació sobre Chrome premi <a href="http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647" target="_blank" class="text-teal-700 underline">aquí</a>.</p>
      <p class="text-justify">Per a més informació sobre Explorer premi <a href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank" class="text-teal-700 underline">aquí</a>.</p>
      <p class="text-justify">Per a més informació sobre Safari premi <a href="http://support.apple.com/kb/ph5042" target="_blank" class="text-teal-700 underline">aquí</a>.</p>
      <p class="text-justify">Per a més informació sobre Opera premi <a href="http://help.opera.com/Windows/11.50/esES/cookies.html" target="_blank" class="text-teal-700 underline">aquí</a>.</p>
      <p class="text-justify py-2">L’usuari accepta expressament, per a l’ús d’aquest site, el tractament de la informació recollida en la forma i amb les finalitats abans esmentades.</p>
      <p class="text-justify py-2">I de la mateixa manera reconeix la possibilitat de negar-se al tractament de les dades o la informació, rebutjant l’ús de les cookies mitjançant la selecció de la configuració apropiada a tal fi al seu navegador. De tota manera, aquesta opció de bloqueig de cookies en el navegador pot no permetre-li l’ús ple de totes les funcionalitats del lloc web.</p>
      <p class="text-justify py-2">L’acceptació dels termes i les condicions inclou l’acceptació de la política de privacitat, la qual en forma part i inclou la informació sobre la política de cookies i la informació relativa a les aplicacions de tercers instal·lades a la web.</p>
      <p class="text-justify py-2">Si té qualsevol dubte en relació amb les Cookies, li preguem que ens enviï un correu electrònic detallant-hi la seva consulta i nosaltres mirarem de resoldre-la.</p>
    </div>
  </div>
</div>