<div class="flex items-center w-full bg-teal-lighter p-4">
  <div class="w-full bg-teal-100 rounded-xs shadow-lg p-8 m-4 md:mx-auto">
	<div class="mb-4 md:flex md:flex-wrap md:justify-between"> 
	  <div class="text-teal-700 m-2">
		<img src="<%= asset_path('MRClogo2.jpeg') %>" alt="MilRevoltsCat" class="float-right m-2">
		<h1 class="text-3xl font-bold py-3"><i class="fas fa-question-circle"></i> Preguntes freqüents (FAQ)</h1>
		
		<h3 class="font-bold mt-6">És veritat que si sóc menor de 25 anys és gratis?</h3> 
		<p class="text-justify">Sí, si ets menor de 25 anys tens la quota de subscripció de soci HABITUAL, rebent tots els serveis exclusius dels socis i pagant només 1€ per sortida. Aquesta mesura és per fomentar el motociclisme i ajudar els pilots novells a sortir en moto per Catalunya i facilitar el seu aprenentatge.</p>
		
		<h3 class="font-bold mt-6">Quins avantatges tinc al registrar-me al web i fer-me motorista SIMPATITZANT?</h3> 
		<p class="text-justify">De moment, ja moltes com les següents:
		<br/>1) Poder inscriure't a les sortides i, a més, gratuïtament si són OBERTES; 
		<br/>2) Poder estar al corrent del calendari de totes les sortides mitjançant el Grup-1 de 'WhatsApp';
		<br/>3) Rebre per correu el noticiari mensual amb notícies i el calendari de sortides;
		<br/>4) Accedir a àrees restringides i veure més contingut, poder fer comentaris i publicar fotografies i altres al nostre lloc web;
		<br/>5) I finalment, poder subscriure't com a soci (ESPORÀDIC, FREQÜENT o HABITUAL).</p>
		
		<h3 class="font-bold mt-6">Com m'apunto a una sortida?</h3> 
		<p class="text-justify">Si la sortida és <b>OBERTA</b>, simplement inscrivint-te gratuïtament. Si és exclusiva pels socis, inscrivint-te fent el pagament a la pàgina web de la sortida.</p>
		
		<h3 class="font-bold mt-6">Quines són les tarifes d'inscripció?</h3> 
		<p class="text-justify">Les tarifes d'inscripció depenen del tipus de soci (ESPORÀDIC, FREQÜENT, HABITUAL) i del número de dies de la sortida.
		<br/>Per a més detalls, si us plau, veure els plans de subscripcions i la normativa d'inscripcions.
		<br/>La inscripció inclou un ampli reportatge multimèdia però no cap tipus d'assegurança individual o de grup durant la sortida.</p>
		
		<h3 class="font-bold mt-6">Si sóc de fora de Barcelona, puc apuntar-me?</h3> 
		<p class="text-justify">Sí, sempre que puguis estar a l'hora en un dels punts de trobada establerts, o bé en una altra localitat dins de la ruta establerta. Consulta-ho primer, ja que sovint es fan petites variacions de la ruta o s'afegeixen nous punts de trobada depenent dels participants.
		<br/>En ambdós casos, comunicant-nos-ho amb anticipació per tal d'organitzar-nos convenientment, concretar els detalls i notificar els canvis i incidències d'última hora.</p>
		
		<h3 class="font-bold mt-6">Puc apuntar-me a una sortida especial o de més d'un dia?</h3> 
		<p class="text-justify">Sí, sempre que hagis sortit amb nosaltres dos o tres cops almenys, encara que es pot sol·licitar un nombre major de sortides fetes per tal de comprovar la capacitat i destresa del motorista necessària pel tipus de sortida a realitzar.</p>
		
		<h3 class="font-bold mt-6">Quins són els terminis d'inscripció?</h3> 
		<p class="text-justify">
		Els terminis per a inscriure's a una sortida són des de la seva publicació al web i, si no es diu res al contrari, finalitzen: 
		<br/>- 1 dia abans per les sortides d'1 dia.
		<br/>- 3 dies abans per les sortides de 2 dies.
		<br/>- 7 dies o 1 setmana abans per les sortides de 3 dies.
		<br/>- 14 dies o 2 setmanes abans per la resta de sortides.</p>
		
		<h3 class="font-bold mt-6">Quins són els números màxim i mínim de participants?</h3> 
		<p class="text-justify">
		Atenció! Les sortides tenen un nombre mínim i màxim de participants i, per motius organitzatius suficientment justificats, es poden tancar les inscripcions uns dies abans de la fi del període d'inscripcions o anul·lar la sortida si el nombre mínim de participants no s'assoleix.</p>
		
		<h3 class="font-bold mt-6">Puc recuperar l'import de l'inscripció si no puc participar finalment?</h3> 
		<p class="text-justify">Si no es participa justificadament a una sortida, ja sigui per l'agenda o impossibilitat del motorista, o bé per la seva anul·lació per pluja o per no assolir el nombre mínim de motoristes, es farà el reemborsament o la reserva per a la propera sortida de l'import pagat.</p>
		
		<h3 class="pb-6">../..</h3> 
		<h3 class="text-red-600">EN CONSTRUCCIÓ</h3> 
		<p class="text-justify italic">Aquesta secció és en permanent construcció depenent de les preguntes rebudes.</p>
	  </div>
	</div>
  </div>
</div>