<div class="w-full min-h-[100vh] flex items-center justify-center" style="background-image: url(<%= asset_path('PatxiBorreda1000.jpg') %>); background-size: cover; background-position: center;">
  <!--<div class="mx-auto bg-teal-600 flex items-center justify-center px-8 py-32">-->
  <div class="flex flex-col w-full bg-white rounded-xs shadow-lg sm:w-5/6 md:w-4/5 lg:w-3/4 xl:w-2/3">
    <div>
      <!--class="w-full h-64 bg-top bg-cover rounded-t" style="background-image: url(<%= asset_path('PatxiBorreda1000.jpg') %>)"></div>-->
      <div class="flex flex-col w-full md:flex-row">
        <div class="flex flex-row justify-around p-4 font-bold leading-none text-teal-100 uppercase bg-teal-500 rounded-xs md:flex-col md:items-center md:justify-center sm:w-1/3 md:w-1/4">
          <div class="sm:text-base md:text-2xl"><%= Time.now.strftime("%d/%m/%Y %H:%M") %></div>
        </div>
        <div class="p-4 font-normal text-teal-800 sm:w-5/6 md:w-4/5 lg:w-3/4 xl:w-2/3 bg-teal-100">
          <h1 class="mb-4 sm:text-xl md:text-xl lg:text-2xl font-bold leading-none tracking-tight italic">Gràcies pel teu missatge!</h1>
          <p class="mb-4 sm:text-xl md:text-xl lg:text-2xl leading-none tracking-tight italic">
            Ben aviat ens possarem en contacte amb tu.
          </p>
          <div class="flex flex-row justify-end items-center mt-4 font-bold text-teal-700 gap-4">
            <span>Grup motorista 'Mil Revolts'</span>
            <%= image_tag("MilRevolts200x200.png", size: "50x50", class: "ml-4") %>
          </div>
        </div>
      </div>
    </div>
  </div>
