<div class="flex items-center justify-center w-full min-h-screen bg-cover bg-center" style="background-image: url('<%= asset_path('20231015.jpeg') %>');">
  <div class="w-full max-w-4xl bg-white bg-opacity-90 rounded-xs shadow-lg p-8 m-4 md:mx-auto md:flex md:flex-wrap">
    <div class="w-full text-gray-800 m-2">
      <img src="<%= asset_path('MRClogo2.jpeg') %>" alt="MilRevoltsCat" class="float-right m-2">
      <h1 class="text-3xl font-bold p-4"><i class="fas fa-user-shield"></i> Política de Privacitat</h1>
      <h4 class="italic mb-4"><i>La política de privacitat del lloc web MilRevolts.cat</i></h4>
      <p class="text-justify py-2">La política de privacitat del <i>Grup Motorista 'Mil Revolts'</i> (d’ara endavant, la política de privacitat) compleix tots els requisits establerts en les disposicions aplicables en matèria de protecció de dades de caràcter personal, que actualment es troben recollides en la Llei Orgànica 15/1999, de Protecció de Dades de Caràcter Personal (d’ara endavant, “LOPD”), i en el reglament que la desenvolupa, Reial decret 1720/2007, així com en compliment del que estableix el Reglament (UE) 2016/679 del Parlament Europeu i del Consell de 27 d’abril de 2016 relatiu a la protecció de les persones físiques pel que fa al tractament de dades personals i a la lliure circulació d’aquestes dades.</p>
      <p class="text-justify py-2">L’acceptació dels termes i les condicions inclou l’acceptació de la política de privacitat, la qual en forma part i inclou la informació sobre la política de cookies i la informació relativa a les aplicacions de tercers instal·lades al lloc web.</p>
      <p class="text-justify py-2">Si té qualsevol dubte en relació amb la privacitat, li preguem que ens enviï un correu electrònic detallant la seva consulta i nosaltres mirarem de resoldre-la.</p>
      <p class="text-justify py-2"><i>Grup Motorista 'Mil Revolts'</i> podrà modificar i actualitzar aquesta política de privacitat en qualsevol moment sense avís previ. Si us plau, comprovi sempre que està al corrent de la nostra política de privacitat, de la política de cookies i dels termes i les condicions d’ús per estar informat en tot moment del contingut que es recull a través del lloc web, com el fem servir i les circumstàncies sota les quals podrien revelar-se a tercers. L’usuari queda obligat automàticament per les condicions d’ús que es trobin vigents en el moment en què accedeixi al lloc web, de manera que ha de llegir periòdicament el present document.</p>
    </div>
  </div>
</div>