<body class="bg-lime-50">
    <header class='w-full bg-teal-200 border-b-1 border-white'>
  
  <style type="text/css">
    .group:hover .group-hover\:block {
    display: block !important;
  }</style>
  
  <div class="w-full inline-flex border-b-2" id="main_menu">
              <ul class="flex flex-wrap p-1 md:p-2 text-sm md:text-base" id="menu_nav">
                  <li class="relative mr-8 mx-1 px-1 py-2 group rounded-full mb-1 md:mb-0" id="button_home">
                  <span class=""><a href="/"><p class="text-gray-600 text-xl font-extrabold">Grup motorista<span class='text-green2logo'> 'Mil</span><span class='text-redlogo'> Revolts'</span><span class='ml-3 text-xs text-teal-500 italic'></a></span>
                  </li>
                  <li class="relative mx-1 px-1 py-2 group mb-1 md:mb-0" id="button_admin">
                      <a class="font-semibold whitespace-no-wrap text-teal-600 hover:text-teal-800" href="/users">
                          <span class="">Motoristes</span>
                      </a>
                  </li>
                                  <li class="relative mx-1 px-1 py-2 group mb-1 md:mb-0" id="button_moderate">
                      <a class="font-semibold whitespace-no-wrap text-gray-600 hover:text-blue-800" href="/sortides_afer">
                          <span class="firstlevel">Sortides</span>
                      </a>
                      <ul class="absolute left-0 top-0 mt-10 p-2 rounded-lg shadow-lg bg-white z-10 hidden group-hover:block">
                          <svg class="block fill-current text-white w-4 h-4 absolute left-0 top-0 ml-3 -mt-3 z-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path></svg>
                          <li class="p-1 whitespace-no-wrap rounded-full text-sm md:text-base text-gray-600 hover:text-gray-800 hover:bg-gray-100">
                          <a class="px-2 py-1" href="/sortides_afer">
                          <span class="">A fer</span>
                          </a>
                          </li>
                          <li class="p-1 whitespace-no-wrap rounded-full text-sm md:text-base text-gray-600 hover:text-gray-800 hover:bg-gray-100">
                          <a class="px-2 py-1" href="/sortides_fetes">
                          <span class="">Fetes</span>
                          </a>
                          </li>
                          <li class="p-1 whitespace-no-wrap rounded-full text-sm md:text-base text-gray-600 hover:text-gray-800 hover:bg-gray-100">
                          <a class="px-2 py-1" href="/sortides">
                          <span class="">Totes</span>
                          </a>
                          </li>
                      </ul>
                  </li>
                  
                  <li class="relative mx-1 px-1 py-2 group mb-1 md:mb-0" id="button_moderate">
                      <a class="font-semibold whitespace-no-wrap text-gray-600 hover:text-blue-800" href="/">
                          <span class="firstlevel">Seccions</span>
                      </a>
                      <ul class="absolute left-0 top-0 mt-10 p-2 rounded-lg shadow-lg bg-white z-10 hidden group-hover:block">
                          <svg class="block fill-current text-white w-4 h-4 absolute left-0 top-0 ml-3 -mt-3 z-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path></svg>
                          <li class="p-1 whitespace-no-wrap rounded-full text-sm md:text-base text-gray-600 hover:text-gray-800 hover:bg-gray-100">
                          <a class="px-2 py-1" href="/posts">
                          <span class="">BLOC</span>
                          </a>
                          </li>
                          <li class="p-1 whitespace-no-wrap rounded-full text-sm md:text-base text-gray-600 hover:text-gray-800 hover:bg-gray-100">
                          <a class="px-2 py-1" href="/forums">
                          <span class="">FORUM</span>
                          </a>
                          </li>
                          <li class="p-1 whitespace-no-wrap rounded-full text-sm md:text-base text-gray-600 hover:text-gray-800 hover:bg-gray-100">
                            <a class="px-2 py-1" href="/LaBotiga">
                              <span class="">La Botiga</span>
                            </a>
                          </li>
                      </ul>
                  </li>
                  <li class="relative mx-1 px-1 py-2 group mb-1 md:mb-0">
                      <a class="font-semibold whitespace-no-wrap text-teal-600 hover:text-teal-800" href="/nosaltres">
                          <span class="">Nosaltres</span>
                      </a>
                      <ul class="absolute left-0 top-0 mt-10 p-2 rounded-lg shadow-lg bg-white z-10 hidden group-hover:block">
                          <svg class="block fill-current text-white w-4 h-4 absolute left-0 top-0 ml-3 -mt-3 z-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path></svg>
                          <li class="p-1 whitespace-no-wrap rounded-full text-sm md:text-base text-gray-600 hover:text-gray-800 hover:bg-gray-100">
                              <a class="px-2 py-1" href="/ElClub">
                                  <span class="">El Club</span>
                              </a>
                          </li>
                          <li class="p-1 whitespace-no-wrap rounded-full text-sm md:text-base text-gray-600 hover:text-gray-800 hover:bg-gray-100">
                              <a class="px-2 py-1" href="/plans">
                                  <span class="">Els plans</span>
                              </a>
                          </li>
                          <li class="p-1 whitespace-no-wrap rounded-full text-sm md:text-base text-gray-600 hover:text-gray-800 hover:bg-gray-100">
                              <a class="px-2 py-1" href="/donations">
                                  <span class="">Donacions</span>
                              </a>
                          </li>
                          <li class="p-1 whitespace-no-wrap rounded-full text-sm md:text-base text-gray-600 hover:text-gray-800 hover:bg-gray-100">
                            <a class="px-2 py-1" href="/contacte">
                              <span class="">Contacte</span>
                            </a>
                          </li>
                      </ul>
                  </li>
                  <li class="relative mx-1 px-1 py-2 group mb-1 md:mb-0">
                      <span class="text-redlogo text-sm">Motorista 
        <b><i></i></b></span>
                      <ul class="absolute left-0 top-0 mt-10 p-2 rounded-lg shadow-lg bg-white z-10 hidden group-hover:block">
                      <svg class="block fill-current text-white w-4 h-4 absolute left-0 top-0 ml-3 -mt-3 z-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path></svg>
                          <li class="p-1 whitespace-no-wrap rounded-full text-sm md:text-base text-gray-600 hover:text-gray-800 hover:bg-gray-100">
  </li>
                          <li class="p-1 whitespace-no-wrap rounded-full text-sm md:text-base text-gray-600 hover:text-gray-800 hover:bg-gray-100">
  </li>
                          <li class="p-1 whitespace-no-wrap rounded-full text-sm md:text-base text-gray-600 hover:text-gray-800 hover:bg-gray-100">
  
  
  </li>
                      <ul class="absolute left-0 top-0 mt-10 p-2 rounded-lg shadow-lg bg-white z-10 hidden group-hover:block">
                      <svg class="block fill-current text-white w-4 h-4 absolute left-0 top-0 ml-3 -mt-3 z-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path></svg>
                           <li class="p-1 whitespace-no-wrap rounded-full text-sm md:text-base text-gray-600 hover:text-gray-800 hover:bg-gray-100">
  </li>
                           <li class="p-1 whitespace-no-wrap rounded-full text-sm md:text-base text-gray-600 hover:text-gray-800 hover:bg-gray-100">
  </li>
  
  
                      </ul>
                  </li>
              </ul>
          </div>
  </header>
  
  
  
  
      <div class="h-16 w-full fixed top-0 bg-red-900 z-50 border-b-2 border-rose-700 shadow-md"> 
    <div class="max-w-7xl h-full w-full mx-auto flex items-center justify-between px-8">
      <a class="flex items-end gap-2" href="/">
        <img class="w-10 object-cover" src="/assets/TOP5_50-ff599bf5e7516fdb81477f590f6f8dcedb446c275cfa4dcce542f680773fcb87.png" />
        <span class="text-xl text-[#faf089]"  style="text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;"> MotoRide </span>
        <h1 class="font-bold text-4xl text-center font-broken text-orange-400 ml-16 leading-none"  style="text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;"">Sortides en moto</h1>
  </a>
    </div>
  </div>
          <main><!--<main class="container mx-auto mt-28 px-5 flex">-->
            <section id="plans" class="bg-teal-100 py-8">
   
   <div class="container mx-auto px-2 py-4 text-white">
  
     <h1 class="w-full my-2 text-4xl font-bold leading-tight text-center text-teal-600"><i class="fas fa-tags mr-2 text-2xl"></i> Tarifes de Subscripció</h1>
      <div class="h-1 mx-auto w-1/2 opacity-25 my-4 rounded-t" style='background: linear-gradient(90deg, #45ffff 0%, #00bbbb 100%);"'>      
      </div>
  
  
  <div class="flex flex-col sm:flex-row justify-center pt-12 my-12 sm:my-4">
  
      <div class="flex-none sm-flex-1 md:flex-auto lg:flex-initial rounded-t-lg bg-teal-700 mt-3 mr-2 flex flex-col">
        <div class="p-8 text-2xl font-bold text-center text-yellow-400 txt-shadow-2">SIMPATITZANT</div>
        <div class="border-0 border-grey-light border-t border-solid">
          <div class="text-center border-0 border-grey-light border-b border-solid py-4">Accés: <span class='uppercase text-xl font-bold'>Limitat</span>
          </div>
          <div class="text-center border-0 border-grey-light border-b border-solid py-4">
          Sortides: <span class='text-xl font-bold'>0</span> a l'any
          </div>
          <div class="text-center border-0 border-grey-light border-b border-solid py-4">  
          Inscripcions: <span class='text-xl font-bold'>16</span> €/sortida 
          </div>
          <div class="text-center border-0 border-grey-light border-b border-solid py-4">  
          Descompte: <span class='text-xl font-bold'>0</span> %
          </div>    
        </div><!-- ./divisions -->
        <div class="w-full text-center px-8 py-8 text-2xl mt-auto text-yellow-300">
          <b>0</b> €/any
        </div>
        <div class='flex' style='color:white;'>
          <a class="w-full text-center bg-red-700 text-teal-100 px-4 py-3 rounded-xs shadow-xs border border-red-500 hover:no-underline hover:border hover:border-teal-300 hover:bg-red-900 hover:text-teal-100 hover:font-bold" style="color:white;" href="/plans/0">Subscriu-te</a>
        </div>
      </div>
      <div class="flex-none sm-flex-1 md:flex-auto lg:flex-initial rounded-t-lg bg-teal-700 mt-3 mr-2 flex flex-col">
        <div class="p-8 text-2xl font-bold text-center text-yellow-400 txt-shadow-2">ESPORÀDIC</div>
        <div class="border-0 border-grey-light border-t border-solid">
          <div class="text-center border-0 border-grey-light border-b border-solid py-4">Accés: <span class='uppercase text-xl font-bold'>General</span>
          </div>
          <div class="text-center border-0 border-grey-light border-b border-solid py-4">
          Sortides: <span class='text-xl font-bold'>4</span> a l'any
          </div>
          <div class="text-center border-0 border-grey-light border-b border-solid py-4">  
          Inscripcions: <span class='text-xl font-bold'>6</span> €/sortida 
          </div>
          <div class="text-center border-0 border-grey-light border-b border-solid py-4">  
          Descompte: <span class='text-xl font-bold'>4</span> %
          </div>    
        </div><!-- ./divisions -->
        <div class="w-full text-center px-8 py-8 text-2xl mt-auto text-yellow-300">
          <b>12</b> €/any
        </div>
        <div class='flex' style='color:white;'>
          <a class="w-full text-center bg-red-700 text-teal-100 px-4 py-3 rounded-xs shadow-xs border border-red-500 hover:no-underline hover:border hover:border-teal-300 hover:bg-red-900 hover:text-teal-100 hover:font-bold" style="color:white;" href="/plans/1">Subscriu-te</a>
        </div>
      </div>
      <div class="flex-none sm-flex-1 md:flex-auto lg:flex-initial rounded-t-lg bg-teal-700 mt-3 mr-2 flex flex-col">
        <div class="p-8 text-2xl font-bold text-center text-yellow-400 txt-shadow-2">FREQÜENT</div>
        <div class="border-0 border-grey-light border-t border-solid">
          <div class="text-center border-0 border-grey-light border-b border-solid py-4">Accés: <span class='uppercase text-xl font-bold'>Ampli</span>
          </div>
          <div class="text-center border-0 border-grey-light border-b border-solid py-4">
          Sortides: <span class='text-xl font-bold'>12</span> a l'any
          </div>
          <div class="text-center border-0 border-grey-light border-b border-solid py-4">  
          Inscripcions: <span class='text-xl font-bold'>3</span> €/sortida 
          </div>
          <div class="text-center border-0 border-grey-light border-b border-solid py-4">  
          Descompte: <span class='text-xl font-bold'>6</span> %
          </div>    
        </div><!-- ./divisions -->
        <div class="w-full text-center px-8 py-8 text-2xl mt-auto text-yellow-300">
          <b>24</b> €/any
        </div>
        <div class='flex' style='color:white;'>
          <a class="w-full text-center bg-red-700 text-teal-100 px-4 py-3 rounded-xs shadow-xs border border-red-500 hover:no-underline hover:border hover:border-teal-300 hover:bg-red-900 hover:text-teal-100 hover:font-bold" style="color:white;" href="/plans/2">Subscriu-te</a>
        </div>
      </div>
      <div class="flex-none sm-flex-1 md:flex-auto lg:flex-initial rounded-t-lg bg-teal-700 mt-3 mr-2 flex flex-col">
        <div class="p-8 text-2xl font-bold text-center text-yellow-400 txt-shadow-2">HABITUAL</div>
        <div class="border-0 border-grey-light border-t border-solid">
          <div class="text-center border-0 border-grey-light border-b border-solid py-4">Accés: <span class='uppercase text-xl font-bold'>Complert</span>
          </div>
          <div class="text-center border-0 border-grey-light border-b border-solid py-4">
          Sortides: <span class='text-xl font-bold'>100</span> a l'any
          </div>
          <div class="text-center border-0 border-grey-light border-b border-solid py-4">  
          Inscripcions: <span class='text-xl font-bold'>1</span> €/sortida 
          </div>
          <div class="text-center border-0 border-grey-light border-b border-solid py-4">  
          Descompte: <span class='text-xl font-bold'>8</span> %
          </div>    
        </div><!-- ./divisions -->
        <div class="w-full text-center px-8 py-8 text-2xl mt-auto text-yellow-300">
          <b>48</b> €/any
        </div>
        <div class='flex' style='color:white;'>
          <a class="w-full text-center bg-red-700 text-teal-100 px-4 py-3 rounded-xs shadow-xs border border-red-500 hover:no-underline hover:border hover:border-teal-300 hover:bg-red-900 hover:text-teal-100 hover:font-bold" style="color:white;" href="/plans/3">Subscriu-te</a>
        </div>
      </div>
  <!-- ./form  class="text-center pt-8 mb-8 mt-auto" inline-block-->
      </div>
   </div>
  
  
  
  
  <div class="mt-32 mb-12 text-teal-900 bg-gray-200">
    <div class="p-4 flex">
     <h1 class="w-full my-2 text-3xl font-bold leading-tight text-center text-teal-600"><i class="fas fa-edit mr-2 text-3xl"></i> Inscripcions a les sortides</h1>
           </div>
     <div class="p-2 flex"> 	
     <p class="px-4 w-full text-justify text-teal-600">Les inscripcions es realitzaran mitjançant la pàgina web de la sortida i el més aviat possible per tenir plaça. Posteriorment al pagament es recomanable comunicar de la inscripció per tal de ser afegit al <b>grup de 'WhatsApp' de la sortida</b> corresponent i aixi poder participar en les discussions des del primer moment.</p>
      </div>
     <div class="p-2 flex"> 		
     <p class="w-full text-lg font-bold leading-tight text-center text-teal-600">Tarifes 2020 per tipus de soci i número de dies de la sortida.</p>
     </div>
      <div class="px-3 py-4 flex justify-center">
          <table class="w-full text-md bg-white shadow-md rounded-xs mb-4">
              <tbody>
                  <tr class="border-b">
                      <th class="text-left p-3 px-5">Soci</th>
                      <th class="text-left p-3 px-5">OBERTA</th>
                      <th class="text-left p-3 px-5">1 dia</th>
                      <th class="text-left p-3 px-5">2 dies</th>
                      <th class="text-left p-3 px-5">3 dies</th>
                      <th class="text-left p-3 px-5">4 dies</th>
                      <th class="text-left p-3 px-5">5 dies</th>
                  </tr>
                  <tr class="border-b hover:bg-orange-100 bg-gray-100">
                      <td class="p-3 px-5">
                      <p class="w-full my-2 text-xl font-bold leading-tight text-left text-teal-600">SIMPATITZANT</p>
                      </td>
                      <td class="p-3 px-5">
                      --	
                      </td>
                      <td class="p-3 px-5">
                      16€
                      </td>
                      <td class="p-3 px-5">
                      24€	
                      </td>
                      <td class="p-3 px-5">
                      30€	
                      </td>
                      <td class="p-3 px-5">
                      34€	
                      </td>
                      <td class="p-3 px-5">
                      38€	
                      </td>
                    </tr>
                    <tr class="border-b hover:bg-orange-100">
                      <td class="p-3 px-5">
                      <p class="w-full my-2 text-xl font-bold leading-tight text-left text-teal-600">ESPORÀDIC</p>
                      </td>
                      <td class="p-3 px-5">
                      --	
                      </td>
                      <td class="p-3 px-5">
                      6€
                      </td>
                      <td class="p-3 px-5">
                      10€	
                      </td>
                      <td class="p-3 px-5">
                      12€	
                      </td>
                      <td class="p-3 px-5">
                      14€	
                      </td>
                      <td class="p-3 px-5">
                      18€	
                      </td>
                  </tr>
                  <tr class="border-b hover:bg-orange-100 bg-gray-100">
                      <td class="p-3 px-5">
                      <p class="w-full my-2 text-xl font-bold leading-tight text-left text-teal-600">FREQÜENT</p>
                      </td>
                      <td class="p-3 px-5">
                      --	
                      </td>
                      <td class="p-3 px-5">
                      3€
                      </td>
                      <td class="p-3 px-5">
                      8€	
                      </td>
                      <td class="p-3 px-5">
                      12€	
                      </td>
                      <td class="p-3 px-5">
                      14€	
                      </td>
                      <td class="p-3 px-5">
                      18€	
                      </td>
                  </tr>
                  <tr class="border-b hover:bg-orange-100">
                      <td class="p-3 px-5">
                      <p class="w-full my-2 text-xl font-bold leading-tight text-left text-teal-600">HABITUAL</p>
                      </td>
                      <td class="p-3 px-5">
                      --	
                      </td>
                      <td class="p-3 px-5">
                      1€
                      </td>
                      <td class="p-3 px-5">
                      6€	
                      </td>
                      <td class="p-3 px-5">
                      10€	
                      </td>
                      <td class="p-3 px-5">
                      14€	
                      </td>
                      <td class="p-3 px-5">
                      18€	
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  
   </section>
          </main>
          <!-- Footer area -->
  
    
  
  
  
  
  </body>