<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Nova sessió</h1>
  <p>Motorista <%= @user.slug %> ha iniciat sessió al <%= Time.current.strftime("%Y-%m-%d %H:%M:%S") %>.</p>
  </body>
</html>
