<!-- app/views/admin_mailer/report_user.html.erb -->
<p>User <%= @user.nom %> has been reported by <%= @reporter.nom %>.</p>
<p>User Profile: <%= link_to 'View User Profile', @user_profile_link %></p>
<p>Reporter Profile: <%= link_to 'View Reporter Profile', @reporter_profile_link %></p>
