<p>Ep! <%= @resource.email %>!</p>

<p>Algú ha sol·licitat un enllaç per canviar la teva contrasenya i ens ha donat aquesta adreça de correu. Pots fer-ho a través de l'enllaç següent.</p>

<p><%= link_to 'Canvia la meva contrasenya', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no has sol·licitat això, si us plau ignora aquest correu electrònic.</p>
<p>La teva contrasenya no canviarà fins que accedeixis a l'enllaç anterior i creïs una de nova.</p>

<p><b>Grup motorista "Mil Revolts"</b></p>
<p>Sortides en Moto</p>
<p>Email:  grup.motorista@milrevolts.cat</p>
<p>Web: MilRevolts.cat</p>
