  <div class="bg-teal-900 ml-0.5">
    <p class="text-yellow-100 ml-1">text</p>
  </div>
  <div class="bg-teal-800 ml-1.5">
    <p class="text-yellow-200 ml-2">text</p>
  </div>
  <div class="bg-teal-700 ml-3">
    <p class="text-yellow-300 ml-3.5">text</p>
  </div>
  <div class="bg-teal-600 ml-4">
    <p class="text-yellow-400 ml-5">text</p>
  </div>
  <div class="bg-teal-500 ml-6">
    <p class="text-yellow-500 ml-7">text</p>
  </div>
  <div class="bg-teal-400 ml-8">
    <p class="text-yellow-600 ml-9">text</p>
  </div>
  <div class="bg-teal-300 ml-10">
    <p class="text-yellow-700 ml-11">text</p>
  </div>
  <div class="bg-teal-200 ml-12">
    <p class="text-yellow-800 ml-13">text</p>
  </div>
  <div class="bg-teal-100 ml-14">
    <p class="text-yellow-900 ml-16">text</p>
  </div>
/***************************************************/
  <div class="bg-blue-900 ml-18">
    <p class="text-amber-100 ml-20">text</p>
  </div>
  <div class="bg-blue-800">
    <p class="text-amber-200 ml-24">text</p>
  </div>
  <div class="bg-blue-700">
    <p class="text-amber-300 ml-28">text</p>
  </div>
  <div class="bg-blue-600">
    <p class="text-amber-400 ml-32">text</p>
  </div>
  <div class="bg-blue-500">
    <p class="text-amber-500">text</p>
  </div>
  <div class="bg-blue-400">
    <p class="text-amber-600">text</p>
  </div>
  <div class="bg-blue-300">
    <p class="text-amber-700">text</p>
  </div>
  <div class="bg-blue-200">
    <p class="text-amber-800">text</p>
  </div>
  <div class="bg-blue-100">
    <p class="text-amber-900">text</p>
  </div>
  /***************************************************/
  <div class="bg-red-900">
    <p class="text-orange-100">text</p>
  </div>
  <div class="bg-red-800">
    <p class="text-orange-200">text</p>
  </div>
  <div class="bg-red-700">
    <p class="text-orange-300">text</p>
  </div>
  <div class="bg-red-600">
    <p class="text-orange-400">text</p>
  </div>
  <div class="bg-red-500">
    <p class="text-orange-500">text</p>
  </div>
  <div class="bg-red-400">
    <p class="text-orange-600">text</p>
  </div>
  <div class="bg-red-300">
    <p class="text-orange-700">text</p>
  </div>
  <div class="bg-red-200">
    <p class="text-orange-800">text</p>
  </div>
  <div class="bg-red-100">
    <p class="text-orange-900">text</p>
  </div>



</div>
